<div class="ucitaj">
    <button class="button" (click)='getJokes()'>Učitaj još</button>
</div>
<br>
<ul (click)="deleteJoke(joke)" *ngFor="let joke of allJokes">
    <li> {{ joke.value }} </li>
</ul>
