<div class="categories">
  <ul class="catUl" *ngFor="let category of categories">
    <li class="catLi" (click)="getCategoryJoke(category)"> {{ category }} </li>
  </ul>
</div>
<br>
<ul class="jokes" (click)="deleteJoke(joke)" *ngFor="let joke of allJokes">
  <li class="jokesLi"> {{ joke.value }} </li>
</ul>
