body {
    font-family: Georgia;
}

h1 {
    text-align: center;
}

.catUl {
    list-style-type: none;
    text-align: center;
    display: inline;
    -webkit-padding-start: 0px;
}

.catLi {
    font-family: Courier New, Courier, monospace;
    background-color: transparent;
    border: none;
    color: black;
    height: 22px;
    width: 130px;
    text-align: center;
    padding-top: 7px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-bottom: 2px solid #F15A24;
}

.catLi:hover {
    background-color: #F15A24;
    color: white;
}

a {
    text-decoration: none;
    font-size: 15px;
}
.categories {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    cursor: pointer;
}

.jokes {
    font-family: Courier New, Courier, monospace;
    font-size: 1.1em;
    list-style-type: none;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #29abea;
    color: black;
    cursor: pointer;
}

.jokes:hover {
    text-decoration: line-through;
    border-bottom: 2px solid #F15A24;
}