<div class="input">
  <input class="searchInput" (keyup)="searchKey.next($event.target.value)" type="text" placeholder="Traži">
</div>
<br>
<ul (click)="deleteJoke(joke)" *ngFor="let joke of allJokes | slice:0:10">
    <li> {{ joke.value }} </li>
</ul>