body {
    font-family: Georgia;
}

.input {
    text-align: center;
}

h1 {
    text-align: center;
}

ul {
    font-family: Courier New, Courier, monospace;
    font-size: 1.1em;
    list-style-type: none;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #29abea;
    color: black;
    cursor: pointer;
}

ul:hover {
    text-decoration: line-through;
    border-bottom: 2px solid #F15A24;
}

li {
    display: inline;
    margin-right: 40px;
    cursor: pointer;    
}

a {
    text-decoration: none;
    font-size: 20px;
}

.searchInput {
    font-family: Courier New, Courier, monospace;
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #F15A24;
    outline: none;
}