<div class="header">
  <img src="../assets/chucknorris_logo.png" alt="" height="135px;">
</div>
<h1>{{title}}</h1>

<ul>
  <li><a class="button" routerLink="/pocetna">Početna</a></li>
  <li><a class="button" routerLink="/kategorije">Kategorije</a></li>
  <li><a class="button" routerLink="/pretraga">Pretraga</a></li>
</ul>
<br>

<router-outlet></router-outlet>