.header {
    height: 150px;
    text-align: center;
}

body {
    font-family: Georgia;
}

h1 {
    text-align: center;
    margin: auto;
}

ul {
    margin-top: 30px;
    list-style-type: none;
    text-align: center;
}

ul a {
    color: black;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    font-size: 20px;
}
.button {
    font-family: Courier New, Courier, monospace;
    background-color: transparent; /* Green */
    border: none;
    color: black;
    height: 24px;
    width: 164px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-bottom: 2px solid #29abea;
}

.button:hover {
    background-color: #29abea;
    color: white;
}